language = "java10"
run = "nohup java -Xmx1024M -Xms1024M -jar server.jar nogui"

#Use nohup java -Xmx1024M -Xms1024M -jar server.jar nogui  for hosting with no interface.
#Use nohup java -Xmx1024M -Xms1024M -jar server.jar for hosting with GUI but slower than nogui.